@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Mode Tokens */
  --color-primary: #CE492C;
  --color-primary-dark: #DA7761;
  --color-primary-light: #E7A495;

  --color-background: #FAFAFB;
  --color-surface: #FFFFFF;
  --color-border: #E2E3E5;

  --color-foreground: #2F2F2F;
  --color-foreground-muted: #6D6D6D;
  --color-foreground-subtle: #989898;

  --color-success: #5ABC27;
  --color-warning: #F7A71B;
  --color-info: #62BAB7;
  --color-error: #C51315;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
.dark {
  --color-background: #181818;
  --color-surface: #2F2F2F;
  --color-border: #585858;

  --color-foreground: #EAEAEA;
  --color-foreground-muted: #C1C1C1;
  --color-foreground-subtle: #828282;
}

.dark * {
  border-color: var(--color-border);
}
